.DetailTipo{
    margin: 0px;
    padding: 4px 20px 4px 20px;
    text-transform: capitalize;
    font-weight: bolder;
    color: right, rgb(178, 4, 4), rgb(100, 2, 2);
    font-size: 15px;
}

.DetailDiv{
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px black
     
}
.DetailDiv2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.DetailButtonHome{
    background-image: linear-gradient(to right, rgb(178, 4, 4), rgb(100, 2, 2));
    padding: 5px 15px 5px 15px;
    color: white;
    font-weight: lighter;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bolder
}
.DetailButtonHome:hover{
    background-image: linear-gradient(to right, rgb(245, 237, 237), rgb(102, 77, 77));
    color:black
}

.Detailtitulo{
    margin: 10px 30px 10px 30px;
    padding: 10px 0px 10px 0px;
    text-transform: capitalize;
    color: rgb(107, 41, 41);
}

.Detaildsubtitulos{
    background-image: linear-gradient(to right, rgb(178, 4, 4), rgb(100, 2, 2));
    padding: 5px 15px 5px 15px;
    color: white;
    font-weight: lighter;
    border-radius: 30px;
}
.imgTitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.DetaildstatsDiv{
    display: grid;
    grid-template-columns: auto auto;
}
.DetaildstatFlex{
    margin: 10px 10px 10px 10px;
}
.Deteailstat{
    margin: 0px;
    padding: 4px 20px 4px 20px;
    text-transform: capitalize;
    color: rgb(83, 11, 11);
}
.DetaildValue{
    font-weight: bolder;
    color: darkred;
    font-size: 15px;
}
.DetaildDivDimesion{
    display: grid;
    grid-template-columns: auto auto;
}
.DetaildTiposDiv{
    display: grid;
    grid-template-columns: auto auto;
    color:white;
    background-image: linear-gradient(to right, rgb(178, 4, 4), rgb(100, 2, 2));
}
.DetaildTiposOne{
    display: grid;
    grid-template-columns: auto;
    color: white;
    background-image: linear-gradient(to right, rgb(178, 4, 4), rgb(100, 2, 2));
}

.DetaildImg{
    max-width: 400px;
}

